<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<p>
Contact Ruby on Rails Tutorial about the sample app at the <a href="http://railstutorial.org/contact">contact page</a>.
</p>

<p>
<a href="http://localhost:3000/static_pages/home/">Home, sweet home..</a><br>
<a href="http://localhost:3000/static_pages/help/">Help</a><br>
<a href="http://localhost:3000/static_pages/about/">About Us :)</a>
</p>
