<% provide(:title, 'All users') %>
<h1>Список всех пользователей:</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>